
/*
    code snippet style 
---------------------------------*/

.code{
    background-color: #d6d6d6;
    margin: 10px;
    padding:10px;
    font-family: monospace;
    border:#080808 dashed thin;
}
